*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
header{
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px 30px;
}
.nav{
display: flex;  
flex-wrap: wrap;
justify-content: center;
align-items: center;
}
.navbar li a{
    text-decoration: none;
    width: 100%;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.titulo{
    text-shadow: 1px  0px 0px black,
    0px  1px 0px black,
    -1px  0px 0px black,
    0px -1px 0px black;
}
.navbar{
    display: flex;
    list-style-type: none;
    gap: 50px;
    padding-right: 50px;
    padding-top: 60px;
    display: flex;
}
.encabezado:hover{
    transform: translateY(10px);
    opacity: 0.50;
}

.banner{
    color: white;
    width: 100%;
    height: 600px;
    font-size: 150px;
    padding-top: 100px;
    padding-bottom: 15px;
    background-image: url("../assets/IMAGENES/hombre-asiatico-sosteniendo-su-patineta.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-size: 50px;
    align-items: center;
    text-align: center;
    flex-direction: column;

}
.titulo-productos{
    text-align: center;
    padding-top: 50px;
    text-decoration: solid;
    text-shadow: 1px  0px 0px black,
    0px  1px 0px black,
    -1px  0px 0px black,
    0px -1px 0px black;
}
.cambios{
    width: 100%;
    background-color: gray;
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    height: 500px;
    align-items: center;
}

.encabezado{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.card-container{
    height: 100px;
    width: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 70px;
    margin-bottom: 500px;
    text-size-adjust: 5px;
}

.card-container div{
    width: 100%;
    height:350px;
    display: flex;
}

.card-container article{
    width: 5000px;
}
.container-productos{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
}


.boton-comprar{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    align-items: center;
    text-align: center;
}
.boton-comprar-tienda{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
}
.boton-comprar:hover{
    background-color: black;
    color: white;
}
.footer{
    position: relative;
    width: 100%;
    background-color: black;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.social-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px 5px;
    flex-wrap: wrap;
}
.icon-elem{
    list-style: none;
}
.icon{
    color: white;
    font-size:  32px;
    display: inline-block;
    margin: 0 10px;
    transition: 0.5s;

}
.icon:hover{
    transform: translate(-10px);
}

.menu{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
.menu-elem{
    list-style: none;
}
.menu-icon{
    color: white;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    margin: 5px 10px;
    opacity: 0.75;
    transition: 0.3s;
}
.menu-icon:hover {
    opacity: 1;
}
.text{
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 20px;
}

.form-registro{
    width: 400px;
    background-color: black;
    margin: auto;
    padding: 30px;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius:4px ;
    color: white;
    box-shadow: 7px 13px 37px #000000 ;
}
.form-registro h4{
    font-size: 22px;
    margin-bottom: 20px;

}
.registro{
    background-color: gray;
    height: 800px;
}
.registro h1{
    text-align: center;
    padding-top: 25px;
}
.controls{
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding:  10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid blanchedalmond;
}
.form-registro p{
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;

}
.form-registro a:hover {
    color: white;
    text-decoration: none;
}
.form-registro .boton{
    width: 100%;
    background-color: rgb(255, 255, 255);
    border: none;
    padding: 12px;
    color: rgb(0, 0, 0);
    margin: 16px 0;
    font-size: 16px;
}

.nosotros{
    background-color: gray;
}